.about-section {
  margin: 2rem 0;
  padding: 2rem 0;
  .bio {
    padding: 2rem 0;
    img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
      display: block;
      margin: 0 auto;
    }
    h5 {
      text-align: center;
      padding: 20px 0px;
    }
  }
  hr {
    display: none;
    border-color: #64a19d;
    border-width: .2rem;
    width: 75%;
    padding: 10px 0px;
  }
  @media(min-width: 500px) {
    margin: 4rem 0;
    padding: 4rem 0;
  }
  @media (min-width: 768px) {
    hr {
      display: block;
    }
  }
}
