.services-section {
  margin: 2rem 0;
  padding: 2rem 1rem;
  .description {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .services-text {
    text-align: center;
    padding: 1rem;
    font-size: 90%;
    .divider {
      color: $primary;
    }
    i {
      font-size: 3rem;
      padding-bottom: 2rem;
      color: $primary;
    }
    hr {
      border-color: $primary;
      border-width: .15rem;
      width: 35%;
    }
  }
  @media(min-width: 500px) {
    margin: 4rem 0;
    padding: 4rem 2rem;
  }
}
